USE [GSATest]
GO
USE [GSATest]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Capital] [decimal](18, 0) NOT NULL,
	[StrategyId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Capital] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PnL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PnL] [decimal](18, 0) NOT NULL,
	[StrategyId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PnL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] NOT NULL,
	[Name] [varchar](2) NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strategy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_Strategy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Strategy] ON [dbo].[Strategy]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Capital]  WITH CHECK ADD  CONSTRAINT [FK_Capital_Strategy] FOREIGN KEY([StrategyId])
REFERENCES [dbo].[Strategy] ([Id])
GO
ALTER TABLE [dbo].[Capital] CHECK CONSTRAINT [FK_Capital_Strategy]
GO
ALTER TABLE [dbo].[PnL]  WITH CHECK ADD  CONSTRAINT [FK_PnL_Strategy] FOREIGN KEY([StrategyId])
REFERENCES [dbo].[Strategy] ([Id])
GO
ALTER TABLE [dbo].[PnL] CHECK CONSTRAINT [FK_PnL_Strategy]
GO
ALTER TABLE [dbo].[Strategy]  WITH CHECK ADD  CONSTRAINT [FK_Strategy_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[Strategy] CHECK CONSTRAINT [FK_Strategy_Region]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetAllMonthlyCapital]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT s.Name AS Strategy,
		   c.Date,
		   c.Capital
	FROM dbo.Capital c
		INNER JOIN dbo.Strategy s
			ON c.StrategyId = s.Id
	ORDER BY c.Date;
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[GetMonthlyCapitalByStrategy]
(
	@Strategies	VARCHAR(200)
)
AS
BEGIN
	SET NOCOUNT ON;

  	SELECT s.Name AS Strategy,
		   c.Date,
		   c.Capital
	FROM dbo.Capital c
		INNER JOIN dbo.Strategy s
			ON c.StrategyId = s.Id
	WHERE s.Name IN (@Strategies)
	ORDER BY c.Date
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetStrategies] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT Id, [Name], RegionId FROM Strategy
END
GO
USE [master]
GO
USE [GSATest]
GO
INSERT [dbo].[Region] ([Id], [Name], [Description]) VALUES (1, N'EU', N'Europe')
GO
INSERT [dbo].[Region] ([Id], [Name], [Description]) VALUES (2, N'US', N'America')
GO
INSERT [dbo].[Region] ([Id], [Name], [Description]) VALUES (3, N'AP', N'Asia Pacific')
GO
